<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Homework">
    <test name="Calculator">
        <classes>
            <class name="calculator.TestCalculator"/>
        </classes>
    </test>

    <test name="Vkontakte">
        <classes>
            <class name="vk.vkTest"/>
        </classes>
    </test>
</suite>